legacy-peer-deps=true
strict-peer-dependencies=false
engine-strict=false
resolve-react-native-modules-at-root=true
auto-install-peers=false
save-exact=true
prefer-offline=true
force=true
ignore-scripts=true
package-lock=false